*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  body, p {
      font-family: 'Roboto', sans-serif;
    }
        h1, h2, h3 {
      font-family: 'Merriweather Sans', sans-serif;
    }
html, body {
    height: 100%;
    color: #4b4b4b;
    background-color: aliceblue;
}
body{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    html, body{
    background: url(../img/unia-logo.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    }
}


    /* Cabeçalho */
.header{
    display: flex;
    height: 20vh;
    overflow: visible;
    
}

.header .log{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background-color: #195b93;
}

.log .logo { 
    padding: 5px;
}

.logo{
    width: 100px;
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.log .txt{
  text-align: center; 
  font-weight: bold;
  font-size: 19px; 
  margin-top: -4px;
  color: hsl(331, 50%, 79%);  
}
.log a{
    text-decoration: none;
    margin: 0 auto;
} 

.log .txt:hover{
    color: #e5b0cac9;
}
 
.pub{
    width: 80%;
    overflow: hidden;
    position: relative;
}
.pub .carousel {
    display: flex;
    width: 100%; 
    height: 100%;
    animation: slide 17s  infinite;
}

.pub .carousel-slide {
    flex: 1 0 100%;
    height: 100%;
}

.pub .carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes slide {
    0%,  19%{ transform: translateX(0%); }
    20%, 39%  { transform: translateX(-100%); }
    40%, 59% { transform: translateX(-200%); }
    60%,  79%{ transform: translateX(-300%); }
    80%, 100%{ transform: translateX(-400%); }
    
}

.carossel-indicators{
    position: absolute;
    bottom: 10px;
    width: 100%;
    left: 50%;
    gap: 10px;
    text-align: center;
    z-index: 10;
}

.dot{
    display: flex;
    width: 10px;
    height: 10px;
    margin: 0 3px;
    background-color: #e5b0ca;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active{
    background-color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 768px) {
    .header{
        flex-direction: column;
        height: auto;
    }

    .header .log{
        width: 100%;
        padding: 5px 0;
        background-color: #195b93;
    }
    .log a{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .logo{
        width: 100px;
        align-items: center;
        justify-content: center;
    }
    .log .txt{
        width: 100%;
        text-align: center;
    }

    .pub{
        width: 100%;
        height: 10vh;
    }
    .dot{
        display: none;
    }
}

/*e5b0ca
195b93
111523*/

    /*Barra Menu*/
 nav { 
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0px 1px 1px #cec9c9;
    background-color: #195b93;
    display: flex;
    align-items: center;
}

.menu { 
    display: flex;
    margin: 0 auto;
   /* padding-right: 20px;*/
    font-family: Century Gothic;
}
.menu{
    list-style: none;
}

.menu > li{
    position: relative;
}

.menu li a { 
    display: flex;
    padding: 10px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}

.menu li .material-icons{
    font-size: 18px;
}
.menu a { 
    color: #ffffff;
    text-decoration: none;
}

.menu li :hover { 
    color: #e5b0cac9;
    font-weight: 600;
    border-bottom: 1px solid #e5b0cac9;
}

.submenu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #195b93;
    list-style: none;
    padding: 0;
    min-width: 150px;
    z-index: 1000;
}

.submenu li a{
    display: block;
    padding: 10px 15px;
    color: white;
    font-size: 13px;
    text-decoration: none;
}

.menu > li:hover .submenu{
    display: block;
}

.mobile-menu-icon{
    display: none;
}
.mobile-menu{
    display: none;
}

@media screen and (max-width: 767px) {
    
   .menu{
    display: none;
   }
   .mobile-menu-icon{
    display: block;
    background-color: #e5b0ca;

   }

   .mobile-menu-icon button{
    background-color: transparent;
    border: none;
    cursor: pointer;
   }
   .mobile-menu ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem 2rem;
    margin-bottom: -40px;
    background-color: #195b93;
   }
   .mobile-menu .iten{
    display: block;
    margin-bottom: 15px;
    border-bottom: 1px solid #0000001f;
   }
   .mobile-menu .nav-link{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: #e5b0ca;
   }
   .mobile-menu .nav-link:hover{
    border-bottom: none;
    opacity: 0.6;
   }
   .mobile-menu #entrar{
    display: block;
    padding: 5px;
   }

   .mobile-menu #entrar{
    width: 100%;
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    margin-top: 0;
    background-color: #e5b0ca3b;
    cursor: pointer;
   }
   .open{
    display: block;
   }
}

/* Área de pesquisa*/

.area-de-pesquisa {  
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-left: 62%;
    background-color: transparent; 
}

.area-de-pesquisa .txt-pesquisar { 
    border: none;
    width: 250px;
    height: 34px;
    padding: 10px;
    border-bottom: #195b93 solid 3px;
    font-size: 12px;
    background-color: transparent;
}

.area-de-pesquisa .bt-pesquisar { 
    border: 0;
    width: 90px;
    height: 34px;
    margin: -20px;
    border: #195b93 solid 3px;
    border-radius: 4px;
    font-size: 13px;
}

.area-de-pesquisa .bt-pesquisar:hover{
    cursor: pointer;
    background-color: #195b93;
    color: white;
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    .area-de-pesquisa{
        display: none;
        width: 200px;
        margin: 0 auto;
        margin-top: 15px;
    }
}

/*Corpo da página*/

.corpo {
    width: 100%;
    margin: 0 auto;
}

/* Área Notícias em destaque*/

.destaque { 
    width: 27%;
    float: left;
    box-shadow: 0px 15px 15px #cec9c9;
    margin-bottom: 20px;
    background-color: white;
}

.destaque a { 
    text-decoration: none;
    color: #4b4b4b;
}

.destaque a :hover{ 
    text-decoration:underline ;
}

.imagem-destaque {
    width: 100%;
}


.noticia-destaque {
    width: 70%;
    margin: 0 auto;
    background-color: #ffffff;
    border: solid 4px white;
    font-size: 11pt;
    margin-top: 15px;
    font-family: time new roma;
}

.noticia-destaque input {
    padding: 4px 6px;
    border: none;
    color: #ffffff;
    font-weight: bold;
    background-color: #195b93;
    font-size: 11px;
}

.noticia-destaque input:hover{
    color: #e5b0ca;
}
.noticia-destaque h3 {
    margin-top: 4px;
}

@media screen and (max-width: 768px) {
  .destaque{
    display: none;
  }
}

/*Notícias*/

.feed {
    width: 70%;
    float: right; 
}

.noticia-feed .imagem-feed {
    width: 100%;
} 

hr{
    width: 300px;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 5px;
}

.noticia-feed {
    width: 90%;
    margin: 0 auto;
    background-color: transparent;
   /* border: solid 4px rgb(255, 255, 255);*/
    font-size: 10pt;
    margin-top: 20px;
    font-family: Century Gothic;

}

.noticia-feed h1{
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 2rem;
}

.noticia-feed span{
    font-size: 11px;
    margin-bottom: 15px;
}
.noticia-feed time{
    font-size: 11px;
}
.noticia-feed p {
    font-size: 12pt;
    font-family: time new roma;
    text-align: justify;
}

.noticia-feed a{
    text-decoration: none;
    font-weight: 600;
    color: #000;
}

.acoes-feed{
    background-color: transparent;

}
.botoes-acoes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.botoes-acoes button {
    height: 36px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 6px 10px;
    font-size: 12px;
    border-radius: 0;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
    gap: 4px;
    white-space: nowrap; /* impede quebra de linha */
    flex: 1;
    line-height: 1;
}

.botoes-acoes .btn-curtir .label-curtidas { /* Oculta só o texto "Curtidas" em telas menores */
    display: inline;
  }

.botoes-acoes button:hover {
    background-color: #e0e0e0;
    /*transform: translateY(-2px);*/
}

.comentarios-feed {
    margin-top: 20px;
}

.comentarios-feed p {
    background: #f1f1f1;
    color: #555;
    padding: 10px 15px;
    border-radius: 6px;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: bold;
}
.caixa-comentario {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.caixa-comentario textarea {
    width: 70%;
    min-height: 80px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
    resize: vertical;
    display: block;
    margin-left: auto;
}

.caixa-comentario button {
    width: 120px;
    align-self: flex-end;
    padding: 8px 12px;
    background-color: #007BFF;
    color: white;
    font-size: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.caixa-comentario button:hover {
    background-color: #0056b3;
}



@media screen and (max-width: 768px) {
    .feed{
        width: 100%;
        float: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        margin-top: 10px;
    }
    .noticia-feed .imagem-feed{
        width: 260px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        transition: transform 0.3s ease;
    }
    .imagem-feed.zoom{
        transform: scale(1.2);
        z-index: 10;
    }
    hr{
        width: 200px;
    }
    .noticia-feed{
        background-color: white;
        width: 90%;
        margin: 0 auto;
    }
    .noticia-feed h1{
        width: 83%;
        margin: 0 auto;
        font-size: 16px;
        text-align: center;
        margin-top: 2px;
        margin-bottom: 0;
    }
    .noticia-feed span{
        font-size: 9px;
        display: flex;
        justify-content: center;
    }
    .noticia-feed p{
        width: 83%;
        margin: 0 auto;
        font-size: 12px;
        margin-top: 2px;
    }
    .botoes-acoes{
        width: 90%;
        margin: 0 auto;
        gap: 5px;
    }
    .botoes-acoes button{
        font-size: 11px;
        height: 30px;
        padding: 4px 6px;
    }
    .botoes-acoes .btn-curtir .label-curtidas {
        display: none;
      }
    
    .noticia-feed time{
        font-size: 10px;
    }
}

    /*Footer*/
footer{
    bottom: 0;
    background-color: #111523;
    color: white;
    padding: 50px 25px;
}

footer .red{
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 100px;
    gap: 22px;
}
.red a{
    text-decoration: none;
    
}
.red img{
    width: 26px; 
    
}

.red img:hover{
    border-bottom: 1px solid #e5b0ca;
}

footer .inf{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.inf ul{
    list-style: none;
    margin-bottom: 30px;
}

.inf ul h3{
    text-align: justify;
    font-size: 14px;
    margin-bottom: 20px;
}

.inf ul li{
    font-size: 13px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.562);
}

.inf .material-icons{
    font-size: 14px;
    text-align: center;
}

footer .dir{
    font-size: 12px;
    margin-bottom: 20px;
    margin-left: 100px;
    text-align: start; 
}

@media screen and (max-width: 768px) {
    footer{
        padding: 10px 5px;
    }
    footer .inf{
        flex-direction: column;
    }
    .inf ul{
        margin-bottom: 20px;
    }
    .inf ul h3{
        text-align: center;
        font-size: 11px;
        margin-bottom: 5px;
    }
    .inf ul li{
        font-size: 10px;
        text-align: center;
        line-height: 12px;
    }
    .inf .material-icons{
        font-size: 13px;
    }
    footer .red{
        justify-content: center;
        padding: 0;
        gap: 10px;
    }
    .red img{
        width: 20px;
    }
    footer .dir{
        font-size: 9px;
        text-align: center;
        margin: 0 auto;
    }
}
